@import "tailwindcss";
@import "@fontsource/inter/latin-100.css";
@import "@fontsource/inter/latin-200.css";
@import "@fontsource/inter/latin-300.css";
@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-500.css";

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif, Arial, Helvetica;
}